# === Supabase ===
SUPABASE_URL=https://lsijwyhjnixfjojamgtn.supabase.co
SUPABASE_ANON_KEY=xxxx
SUPABASE_SERVICE_ROLE_KEY=xxxxx

# === 大模型 LLM ===
LLM_BASE_URL=http://10.4.6.7:8000/v1
LLM_API_KEY=xxxx
LLM_MODEL_NAME=xxxx

# === JWT ===
JWT_SECRET=xxxx
